@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 回答はここに書いてね */
.text {
  float: left;
  width: 225px;
  font-size: 16px;
  margin-left: 50px;
  box-sizing: border-box;
}

.text:first-child {
  margin-left: 0;
}

.table {
  display: table;

}

.cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.cell_text {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.cell:first-child {
  padding-left: 0;
}

.inline_box {
  font-size: 0;
}

.inline_text {
  width: 225px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  box-sizing: border-box;
}

.inline_text:first-child {
  margin-left: 0;
}

.flex_box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex_text {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  font-size: 0;
}

.leftbox {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.lefttext {
  font-size: 16px;
}

.rightbox {
  width: 100%;
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.righttext {
  font-size: 16px;

}

/* 回答はここに書いてね */
