@charset "UTF-8";

/* 回答はここに書いてね */
  .main {
    overflow: hidden;
    width: 500px;
    height: 333px;
    margin: auto;
    position: relative;
  }

  .car {
    transition: all 0.5s;
  }

  .main:hover .car {
    transform: scale(1.5);      
  }

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 8));
    color: #fff;
    transition: all 0.5s;
    box-sizing: border-box;
    word-break: break-all;
  }
  
  .main:hover .mask {
    bottom: 0;
  }

  .text {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 16px;
    padding: 20px;
    box-sizing: border-box;
  }  


  .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 10px #ecf1f2;
    border-top: solid 10px #00bcd4; 
    margin: auto;
    animation: cic 1.1s linear infinite;
  }

  @keyframes cic {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
  }
/* 回答はここに書いてね */
