@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  height: 500px;
  width: 500px;
  background-color: #ECF1F2;
  margin: auto;
  position: relative;
}

 .card {
   width: 100px;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   position: absolute;
 }

.one {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
 }

.two {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
 }

.three {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 3;
 }

.four {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 4;
 }

.five {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 5;
 }

.six {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 6;
 }

.seven {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
 }

.eight {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.eight:after {
  position: absolute;
  background-color: #ffefd3;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  content: "";
}

.nine {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
}

/* 回答はここに書いてね */
