@charset "UTF-8";

/* 回答はここに書いてね */

.menu  {
  text-align: center;
  padding: 10px;
  table-layout: fixed;
  width: 100%;
}


.menu th {
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  border: solid #fff 1px;
}

.menu td {
  font-size: 16px;
  line-height: 22px;
  border: solid #dedede 1px;
}

.menu tr:nth-child(2) {
  background-color: #ecf1f2;
}

.menu tr:nth-child(4) {
  background-color: #ecf1f2;
  border-bottom: dashed #000 2px;
}



/* 回答はここに書いてね */
