@charset "UTF-8";

/* 回答はここに書いてね */


.dis_textbox {
  text-align: center;
}


.dis_text {
  display: inline-block;
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
}

.margin {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

.table_box {
  display: table;
}

.table_textbox {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table_text {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}

.flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_text {
  background-color: #fff;
  padding: 10px;
}

.pos_box {
  position: relative;
}

.pos_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tran_box {
  position: relative;
}

.tran_text {
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
